body {
  margin: 0;
  font:100%/1.5em "Montserrat", "Helvetica", "Arial", sans-serif;
  
  
  color: #222222;
  background-color: #f2f4f6;
  background-image: url("img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

.container {

text-align: center;
}

.page-header {
padding:40px 0px;
margin: 0 0 160px;
}

.page-header .container,
.page-footer .container {
text-align: right;

}

.page-header a {
 padding-right:30px;
 padding-left:30px;
 color: #288be6;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
}

.header-email {

background-image: url("img/icon-email-header.svg");
}

.header-phone {
background-image: url("img/icon-phone-header.svg");
}

.hero-image {
margin-bottom: 620px;
}

.hero-image .container {
 
}

.heading {
  font-family: "Old Standard TT", "Times", "Times New Roman", serif;
  font-size: 4.5em;
  line-height: 1em;
  font-weight: 400;
}

.hero-image p {
 font-size: 2em;
  line-height: 1em;
}

.intro {
 
}

.subheading {
  font-family: "Old Standard TT", "Times", "Times New Roman", serif;
  font-size: 2em;
  line-height: 1em;
  font-weight: 400;
}

.user-image {
  
}

.intro h3,
.portfolio h3 {
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: 500;
  padding: 0px 10px;
}

.intro p {
padding:0px 15px;
text-align: left;
}

.skills-list {
 margin: 0;
  padding: 0 50px;
  text-align: left;
}

.skills-list dt {
   
  background-repeat: no-repeat;
  background-position: left;

}

.skill-html {
  padding-left: 32px;
   background-image: url("img/icon-html.svg");

}

.skill-css {
  padding-left: 32px;
  background-image: url("img/icon-css.svg");  
}
.skill-php {
  padding-left: 60px;
  
  padding-top: 10px;
 
   background-image: url("img/icon-php-cr.svg"); 
}
.skill-Js {
  padding-left: 32px;
  
  
 
   background-image: url("img/icon-js.svg"); 
}


.level {
  margin: 4px 0 16px;
  padding: 0;
  height: 14px;
  font-size: 0;
  background-color: #ffffff;
  border: 1px solid #86c3fa;
  border-radius: 8px;
}

.level div {
    margin: 1px;
  height: 12px;
  background-color: #288be6;
  border-radius: 6px;
}

.portfolio {

}

img {

  max-width: 100%;
}

.projects {

}

.projects li {

}

.project-image {
  max-width: 100%;
}

.projects p {

}

.button {

  padding: 6px 20px;
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #288be6;
  color: #ffffff;
}

.page-footer {
 
  background-color: #00417d;
  padding:20px 0px;
}

.page-footer a {
  color: #ffffff;
 padding-right:30px;
 padding-left:30px;
 
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;

}

.footer-email {
 
background-image: url("img/icon-email-footer.svg");
}

.footer-phone {
 background-image: url("img/icon-phone-footer.svg");
}