.row div{
/*    background-color: yellow;*/
}
#logotip {
    width:150px;
}
a.spoiler:after{
    content: "<span class="glyphicon glyphicon-search"></span>";
    }
a.spoiler.collapsed:after {
    content: "[+]";
    }
.nav-tabs{
    
    margin-bottom:15px;
    
}
/*
.navbar {
    border-radius:0;
    
}*/
